@import "bootstrap-custom";

.root {
  height: 100vh;
}

header {
  padding: 20px 0;
}

.home-link {
  display: block;
  width: 35px;
  height: 35px;
  background-image: url("./icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

nav a {
  margin-left: 10px;
}
